<ActionBar>
    <Label text="Weather app"></Label>
</ActionBar>
<FlexboxLayout class="page" *ngIf="search==true">
    <GridLayout class="page__content" *ngIf="search==true" (tap)="displayPromptDialog()">
        <Label class="page__content-icon fas" text="&#xf002;" ></Label>
        <Label class="page__content-placeholder" text="Search Here"></Label>
    </GridLayout>
 
</FlexboxLayout>
<ActivityIndicator color="green" [busy]="processing" rowSpan="3"></ActivityIndicator>

<GridLayout class="page__content" *ngIf="search==false" >
        <StackLayout (tap)="displayEditDialog(datas.name)">  
            <CardView  class="card" elevation="40" radius="10" ios:shadowRadius="3" (tap)="displayEditDialog(datas.name)">
                <StackLayout class="card-layout" style="background-color: aquamarine;">
                    <Label class="h2" [text]="datas.name"></Label>
                    <Label class="body" textWrap="true" [text]="weather"></Label>
                    <Label class="body" textWrap="true" [text]="temp"></Label>
                    <Label class="body" textWrap="true" [text]="visiblity"></Label>
                    <Label class="body" textWrap="true" [text]="windspeed"></Label>
                </StackLayout>
            </CardView>
        </StackLayout>
</GridLayout>